section.sec-content-market
    .container.container--dashboard
        .content-market
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-1.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-2.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-3.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-4.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-1.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-2.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-3.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-4.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-1.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-2.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-3.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s
            .content-market__card
                .content-market__card__image 
                    img(src="assets/images/nft-4.svg", alt="")
                    .content-market__card__image__title NFT Name(#2563)
                    .content-market__card__image__overlay 
                .content-market__card__heading 
                    .content-market__card__heading__price
                        span Start Price
                        span 0.364 ETH
                    .content-market__card__heading__time
                        span Ends in
                        span 18h 20m 30s