section.sec-filter-market 
	.container.container--dashboard 
		.filter 
			.filter__item 
				.filter__item__wrapper.filter--active
					a.filter__item__wrapper__teks(href="") All NFTs
				.filter__item__wrapper 
					a.filter__item__wrapper__teks(href="") Category
				.filter__item__wrapper 
					a.filter__item__wrapper__teks(href="") Category
				.filter__item__wrapper 
					a.filter__item__wrapper__teks(href="") Category
				.filter__item__wrapper 
					a.filter__item__wrapper__teks(href="") Category
			.filter__select
				.filter__select__dropdown
					.filter__select__dropdown__icon
					.filter__select__dropdown__title Filter:
					.filter__select__dropdown__custom-select 
						select
							option(value="0") Latest Sale
							option(value="1") Latest Added