section.sec-header-market 
	.container.container--dashboard 
		.header-market 
			h1.header-market__heading Latest Auction
			.header-market__search-bar
				.search
					.search__dropdown
						span.search__dropdown__title Market Type
						.search__dropdown__custom-select 
							select
								option(value="0") Auction 
								option(value="1") Market  
					form(action="#").search__form
						input(type="text" placeholder="Search NFTs...").search__form__input
						button(type="submit").search__form__submit
				.header-market__search-bar__keyword 
					span Popular Keywords:
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
					a(href="#") Keyword
			.header-market__search-bar-m
				.search-m 
					.search-m__dropdown-m 
						span.search-m__dropdown-m__title Market Type
						.search-m__dropdown-m__custom-select 
							select
								option(value="0") Auction 
								option(value="1") Market
					form(action="#").search-m__form-m
						input(type="text" placeholder="Search NFTs...").search-m__form-m__input-m
						button(type="submit").search-m__form-m__submit-m
				.header-market__search-bar-m__keyword-m
					span Popular Keywords:
					.header-market__search-bar-m__keyword-m__item
						a(href="#") Keyword
						a(href="#") Keyword
					