section.sec-coming 
	.container
		.column-coming 
			.column-coming__left
				h1.column-coming__left__heading Coming Soon!
				p.column-coming__left__desc 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet. Eget mus scelerisque aliquet quam sit feugiat. Lobortis tempus nisi, enim sit volutpat volutpat, urna rhoncus. Lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit.
				form.form
					input(
						type="email" 
						id="email" 
						name="email" 
						placeholder="Please enter your email address"
					).form__email
					button(type="submit").form__submit Notify Me
				hr.line
				.sosmed-wrapper 
					h2.sosmed-wrapper__heading Follow Our Social Media
					.sosmed-wrapper__icon-wrapper 
						a.sosmed-wrapper__icon-wrapper__icon(href="#")
							img(src="assets/images/facebook.svg", alt="ic-facebook")
						a.sosmed-wrapper__icon-wrapper__icon(href="#")
							img(src="assets/images/twitter.svg", alt="ic-twitter")
						a.sosmed-wrapper__icon-wrapper__icon(href="#") 
							img(src="assets/images/instagram.svg", alt="ic-instagram")
						a.sosmed-wrapper__icon-wrapper__icon(href="#") 
							img(src="assets/images/youtube.svg", alt="ic-youtube")
						a.sosmed-wrapper__icon-wrapper__icon(href="#") 
							img(src="assets/images/telegram.svg", alt="ic-telegram")

			.column-coming__right
				img(src="assets/images/img-coming-soon.svg")