header.nav-coming
    .nav-coming__container
        .nav-coming__logo 
            a(href="index.html")
                img(src="assets/images/main-logo.png").nav-coming__logo__img
        .nav-coming__cta 
            a.btn.btn--outline--download(href="#")
                .btn__icon-download
                span.btn__text App Download