section.sec-header-swap 
    .container.container--dashboard     
        .header-swap 
            h1.header-swap__heading Staking Coins
            p.header-swap__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet. Eget mus scelerisque aliquet quam sit feugiat. Lobortis tempus nisi, enim sit volutpat volutpat, urna rhoncus. Pretium tortor nullam nascetur adipiscing sodales semper amet.