section.sec-accordion 
	.container.container--dashboard 
		.accordion
			h1.accordion__heading Frequently Asked Questions
		ul.accordion-list 
			li
				h3.accordion-list__heading What's Angel Token ?
				.accordion-list__answer
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus purus turpis mauris viverra dis a vehicula donec viverra. Malesuada nunc, id ipsum dapibus enim pretium cursus mauris sit. Sed magna felis id ac interdum. Consectetur cum semper feugiat et. Nisi velit, ultrices consequat mauris. Viverra ipsum lectus metus morbi consectetur ut non sem habitasse. Mattis montes, cras urna gravida mauris porttitor amet, vel. Egestas egestas sit ornare velit turpis condimentum ultricies. 
			li
				h3.accordion-list__heading What's the tokenomics of “Angel Token”? And how do we expect the price of “Angel Token”
				.accordion-list__answer
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus purus turpis mauris viverra dis a vehicula donec viverra. Malesuada nunc, id ipsum dapibus enim pretium cursus mauris sit. Sed magna felis id ac interdum. Consectetur cum semper feugiat et. Nisi velit, ultrices consequat mauris. Viverra ipsum lectus metus morbi consectetur ut non sem habitasse. Mattis montes, cras urna gravida mauris porttitor amet, vel. Egestas egestas sit ornare velit turpis condimentum ultricies. 
			li
				h3.accordion-list__heading What's the tokenomics of “Angel Token”? And how do we expect the price of “Angel Token”
				.accordion-list__answer
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus purus turpis mauris viverra dis a vehicula donec viverra. Malesuada nunc, id ipsum dapibus enim pretium cursus mauris sit. Sed magna felis id ac interdum. Consectetur cum semper feugiat et. Nisi velit, ultrices consequat mauris. Viverra ipsum lectus metus morbi consectetur ut non sem habitasse. Mattis montes, cras urna gravida mauris porttitor amet, vel. Egestas egestas sit ornare velit turpis condimentum ultricies. 
			li
				h3.accordion-list__heading What's the tokenomics of “Angel Token”? And how do we expect the price of “Angel Token”
				.accordion-list__answer
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus purus turpis mauris viverra dis a vehicula donec viverra. Malesuada nunc, id ipsum dapibus enim pretium cursus mauris sit. Sed magna felis id ac interdum. Consectetur cum semper feugiat et. Nisi velit, ultrices consequat mauris. Viverra ipsum lectus metus morbi consectetur ut non sem habitasse. Mattis montes, cras urna gravida mauris porttitor amet, vel. Egestas egestas sit ornare velit turpis condimentum ultricies. 