section.sec-header-about 
    .container.container--dashboard 
        .header-about 
            .header-about__content
                h1.header-about__content__heading About Angel Token
                p.header-about__content__desc
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet. Eget mus scelerisque aliquet quam sit feugiat. Lobortis tempus nisi, enim sit volutpat volutpat, urna rhoncus.
                    <br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet. Eget mus scelerisque aliquet quam sit feugiat. Lobortis tempus nisi, enim sit volutpat volutpat.
                .content-header-bottom 
                    .content-header-bottom__buttons
                        a.btn.btn--primary(href="#")
                            span.btn__text Buy $ANGELTOKEN
                        a.btn.btn--outline(href="coming-soon.pug")
                            span.btn__text Buy NFT
                    .content-header-bottom__icons
                        .content-header-bottom__icons__wrapper
                            a.content-header-bottom__icons__wrapper__icon(href="#")
                                img(src="assets/images/facebook.svg", alt="ic-facebook")
                            a.content-header-bottom__icons__wrapper__icon(href="#")
                                img(src="assets/images/twitter.svg", alt="ic-twitter")
                            a.content-header-bottom__icons__wrapper__icon(href="#")
                                img(src="assets/images/instagram.svg", alt="ic-instagram")
                            a.content-header-bottom__icons__wrapper__icon(href="#")
                                img(src="assets/images/youtube.svg", alt="ic-youtube")
                            a.content-header-bottom__icons__wrapper__icon(href="#")
                                img(src="assets/images/telegram.svg", alt="ic-telegram")

                
                
                
            .header-about__image
                img(src="assets/images/header-about-img.svg", alt="")