section.sec-how-to 
	.container.container--dashboard 
		.how-to 
			h1.how-to__heading How to Buy $ANGELTOKEN ?
			.how-to__wrapper 
				.how-to__wrapper__items 
					img(src="assets/images/how-to-img-1.png", alt="").how-to__wrapper__items__img
					.how-to__wrapper__items__text 
						span Create a Wallet
						p Create a WalletOn Google Chrome, <span>visit metamask.io</span> to download the extension and set up a wallet. Android and iOS users can download the <span>Trust Wallet</span> app on your phone.
				.how-to__wrapper__items 
					img(src="assets/images/how-to-img-2.svg", alt="").how-to__wrapper__items__img
					.how-to__wrapper__items__text 
						span Send $BNB to your BSC wallet
						p Buy $BNB from Binance Exchange and transfer to your BSC wallet address.
				.how-to__wrapper__items 
					img(src="assets/images/how-to-img-3.svg", alt="").how-to__wrapper__items__img
					.how-to__wrapper__items__text 
						span Swap $BNB for $ANGELTOKEN
						p Go to the DApps tab at the bottom, find Angel Token, click <span>“Select a Currency”</span>, enter the contract address in the search bar, and you should be able to find Angel Token.
						.copy-text
							span.copy-text__text Angel Token Contract Address: 0x02ff5065692783374947393723dba9599e59f59
						p Before the Swap, click the gear and set the slippage to 12-15%, set the amount you want to buy and click the <span>“Swap”</span> button.
						p If you are operating on the PC, please enter the Angel Token official website and click <span>“Connect Wallet”</span> at the top right of the website.
						<br/>
						p Angel Token: 
							a(href="#") https://angeltoken.com
							