section.sec-member 
	.container.container--dashboard 
		.member 
			h1.member__heading Get to Know Us Closer
			.member__wrapper-xl
				.member__wrapper-xl__card-xl
					.member__wrapper-xl__card-xl__name-xl
						span Kevin Marchiano
					img(src="assets/images/kevin.png").member__wrapper-xl__card-xl__img-xl
				.member__wrapper-xl__card-xl
					.member__wrapper-xl__card-xl__name-xl
						span Rio Hendi
					img(src="assets/images/rio.png").member__wrapper-xl__card-xl__img-xl
				.member__wrapper-xl__card-xl
					.member__wrapper-xl__card-xl__name-xl
						span Raynaldo Theo
					img(src="assets/images/theo.png").member__wrapper-xl__card-xl__img-xl
			.member__wrapper-md
				.member__wrapper-md__card-md 
					.member__wrapper-md__card-md__name-md
						span Alexander T
					img(src="assets/images/alexender.png").member__wrapper-md__card-md__img-md
				.member__wrapper-md__card-md 
					.member__wrapper-md__card-md__name-md
						span Michael Tan
					img(src="assets/images/tan.png").member__wrapper-md__card-md__img-md
				.member__wrapper-md__card-md 
					.member__wrapper-md__card-md__name-md
						span James Won
					img(src="assets/images/james.png").member__wrapper-md__card-md__img-md
				.member__wrapper-md__card-md 
					.member__wrapper-md__card-md__name-md
						span Steve Dewangga
					img(src="assets/images/steve.png").member__wrapper-md__card-md__img-md
