section.sec-product 
    .container.container--dashboard 
        .product 
            h1.product__heading Products Built for The Cryptoeconomy
            .product__wrapper
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Stake
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Stake
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Stake
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Stake
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Trade
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Trade
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Trade
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span Trade
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span NFT Market
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span NFT Market
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span NFT Market
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                .product__wrapper__grid
                    .product__wrapper__grid__icon 
                    .product__wrapper__grid__text 
                        span NFT Market
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
