section.section-page.section-page--roadmap
    .container.container--dashboard
        .header-roadmap.flex.items-center
            h2.h2 Roadmap
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet eget mus scelerisque aliquet.

    .line-roadmap

    .container.container--roadmap
        .boxed-roadmap#boxRoadmap
            .list.list--done
                .dot
                .box-roadmap
                    .label-roadmap Q2 2021
                    h4.h4  Angel Token Launch
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate lroem ipsum.

            .list.list--done
                .dot
                .box-roadmap
                    .label-roadmap Q2 2021
                    h4.h4 50% Token Burning
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate lroem ipsum.

            .list.list--done
                .dot
                .box-roadmap
                    .label-roadmap Q2 2021
                    h4.h4 NFT Marketplace v1
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate lroem ipsum.

            .list
                .dot
                .box-roadmap
                    .label-roadmap Q2 2021
                    h4.h4 NFT Marketplace v2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate lroem ipsum.

            .list
                .dot
                .box-roadmap
                    .label-roadmap Q2 2021
                    h4.h4 NFT Marketplace v3
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate lroem ipsum.
