footer.footer
    .container
        .card-footer
            h2.card-footer__heading Follow Our Social Media
            .card-footer__social-media
                nav.social-media
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/fb.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/tw.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/ig.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/yt.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/discord.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/tiktok.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/telegram.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/github.svg")
                    a.social-media__list(href="#" target="_blank"): img(src="assets/images/socmed/medium.svg")

        .footer__logo: include logo.pug