header.navbar
    .btn-hamburger
    .navbar__container
        .navbar__logo.brand-logo
            a(href="https://angel-token.vercel.app/")
                img(src="assets/images/main-logo.png", alt="").navbar__logo__img
        .navbar__cta
            a.btn.btn--outline(href="https://angel-token.vercel.app/homepage.html")
                span.btn__text Launch App
            a.btn.btn--primary(href="#")
                span.btn__text Connect Wallet