header.navbar
    .navbar__container
        .navbar__logo.brand-logo
            a(href="index.html"): include logo.pug
        .navbar__cta
            a.btn.btn--outline(href="https://angel-token.vercel.app/homepage.html")
                span.btn__text Launch App
            a.btn.btn--primary(href="#")
                span.btn__text Connect Wallet