header.navigation
    .btn-nav-m 
    .navigation__container
        a(href="https://angel-token.vercel.app/")  
            img(src="assets/images/main-logo.png", alt="").navigation__container__brand
        .navigation__cta 
            a.btn.btn--outline--download(href="#")
                .btn__icon-download
                span.btn__text App Download
            a.btn.btn--outline.btn--angeltoken(href="#")
                span.btn__text Buy $ANGELTOKEN
            a.btn.btn--primary.btn--connect(href="")
                span.btn__text Connect Wallet            

