header.navigation
    .navigation__container 
        .navigation__cta 
            a.btn.btn--outline--download(href="#")
                .btn__icon-download
                span.btn__text App Download
            a.btn.btn--outline.btn--angeltoken(href="#")
                span.btn__text Buy $ANGELTOKEN
            a.btn.btn--primary.btn--connect(href="")
                span.btn__text Connect Wallet

