section.sec-pagination
	.container.container--dashboard
		.pagination 
			a.pagination__prev(href="#")
				span Previous  
			a.pagination__number.number--active(href="#") 
				span 1
			a.pagination__number(href="#") 
				span 2
			a.pagination__number(href="#") 
				span 3
			a.pagination__number(href="#") 
				span 4
			a.pagination__number(href="#") 
				span 5
			a.pagination__number(href="#") 
				span 6
			a.pagination__next(href="#")
				span Next 