aside.sidenav-landing
    a(href="https://angel-token.vercel.app/") 
        img(src="assets/images/main-logo.png", alt="logo-sidenav").sidenav-landing__img
    .btn-hamburger-side
    a(href="https://angel-token.vercel.app/homepage.html").btn-launch
        span Launch App
    a(href="#").btn-connect-side
        span Connect Wallets