section.sec-counter-number
    .container.container--dashboard
        .counter-wrapper
            .counter-wrapper__items
                img.counter-wrapper__items__img(src="assets/images/price-img.svg")
                span.counter-wrapper__items__number $0.0000346
                span.counter-wrapper__items__text Price
            .counter-wrapper__items
                img.counter-wrapper__items__img(src="assets/images/holder-img.svg")
                span.counter-wrapper__items__number 430,000+
                span.counter-wrapper__items__text Holders
            .counter-wrapper__items
                img.counter-wrapper__items__img(src="assets/images/staked-img.svg")
                span.counter-wrapper__items__number $12,5 Billion
                span.counter-wrapper__items__text Total Staked
            .counter-wrapper__items
                img.counter-wrapper__items__img(src="assets/images/burned-img.svg")
                span.counter-wrapper__items__number 62.54%
                span.counter-wrapper__items__text Burned
            .counter-wrapper__items
                img.counter-wrapper__items__img(src="assets/images/market-cap-img.svg")
                span.counter-wrapper__items__number $12,5 Billion
                span.counter-wrapper__items__text Market Cap
