section.sec-division
	.container.container--dashboard
		.wrapper-division 
			.wrapper-division__division
				img(src="assets/images/pr-img.svg", alt="").wrapper-division__division__img
				.wrapper-division__division__teks
					span.wrapper-division__division__teks__heading Public Relationship & Marketing
					span.wrapper-division__division__teks__desc PR@angeltoken.com
			.wrapper-division__division
				img(src="assets/images/bisdev-img.svg", alt="").wrapper-division__division__img
				.wrapper-division__division__teks
					span.wrapper-division__division__teks__heading Business Development
					span.wrapper-division__division__teks__desc business@angeltoken.com
			.wrapper-division__division
				img(src="assets/images/cryptoaccess-img.svg", alt="").wrapper-division__division__img
				.wrapper-division__division__teks
					span.wrapper-division__division__teks__heading.crypto--access Crypto Access
					span.wrapper-division__division__teks__desc access@angeltoken.com
			.wrapper-division__division
				img(src="assets/images/banking-img.svg", alt="").wrapper-division__division__img
				.wrapper-division__division__teks
					span.wrapper-division__division__teks__heading Banking & Vendor Inquiries
					span.wrapper-division__division__teks__desc risk@angeltoken.com