section.sec-slider-homepage
    .container.container--dashboard
        .slider-homepage 
            .slider-homepage__card 
                .slider-homepage__card__heading
                    span.slider-homepage__card__heading__title Build The Future of Technology
            .slider-homepage__card 
                .slider-homepage__card__heading
                    span.slider-homepage__card__heading__title Build The Future of Technology
            .slider-homepage__card 
                .slider-homepage__card__heading
                    span.slider-homepage__card__heading__title Build The Future of Technology