<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.8 10.9333C8.4 11.4667 7.6 11.4667 7.2 10.9333L3.2 5.6C2.70557 4.94076 3.17596 4 4 4L12 4C12.824 4 13.2944 4.94076 12.8 5.6L8.8 10.9333Z" fill="#DCDCDC"/>
</svg>
