<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.0475 29.4283V10.5721M13.0475 10.5721L17.7616 15.2861M13.0475 10.5721L8.3335 15.2861" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M26.3807 10.5717L26.3807 29.4279M26.3807 29.4279L21.6666 24.7139M26.3807 29.4279L31.0947 24.7139" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
