doctype html
html(lang="en-GB")
	head
		include ../_parts/global/head.pug
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		title Angel Token
	body.main-body
		include ../_parts/global/sidenav.pug
		include ../_parts/global/navigation.pug
		.main-dashboard
			include ../_parts/pages/swap/header-swap.pug

			
			
			

			
		script(src="assets/js/global.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		script(src="assets/js/index.js")
		script(src="assets/js/accordion.js")