section.section-page.section-page--benefit
    .container
        .box-benefit
            .box-benefit__list
                .card-benefit
                    .card-benefit__icon
                        img(src="assets/images/pr-marketing.svg", alt="")
                    .card-benefit__meta
                        .card-benefit__heading Public Relationship &amp; Marketing
                        a(href="#").card-benefit__email PR@angeltoken.com
            
            .box-benefit__list
                .card-benefit
                    .card-benefit__icon
                        img(src="assets/images/bd.svg", alt="")
                    .card-benefit__meta
                        .card-benefit__heading Business <br> Development
                        a(href="#").card-benefit__email business@angeltoken.com
            
            .box-benefit__list
                .card-benefit
                    .card-benefit__icon
                        img(src="assets/images/crypto-access.svg", alt="")
                    .card-benefit__meta
                        .card-benefit__heading Crypto <br> Access
                        a(href="#").card-benefit__email access@angeltoken.com

            .box-benefit__list
                .card-benefit
                    .card-benefit__icon
                        img(src="assets/images/banking.svg", alt="")
                    .card-benefit__meta
                        .card-benefit__heading Banking &amp; <br> Vendor Inquiries
                        a(href="#").card-benefit__email risk@angeltoken.com
