section.section-page.section-page--information
    .container
        .box-information
            .box-information__cover
                img(src="assets/images/illustration.png", alt="")
            
            .box-information__meta
                h2.box-information__title Build The Future of Lorem Ipsu Technology
                p.box-information__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet. Eget mus scelerisque aliquet quam sit feugiat. Lobortis tempus nisi, enim sit volutpat volutpat, urna rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi.
                p.box-information__desc.box-information__desc--note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, odio dictum mi amet est tincidunt vulputate id id. Et lectus ultricies sed dolor quis tellus volutpat amet. Eget mus scelerisque aliquet quam sit feugiat. Lobortis tempus nisi, enim sit volutpat 