section.section-page.section-page--partner
    .container
        ul.box-partner
            li.box-partner__list: img(src="assets/images/fb.svg", alt="")
            li.box-partner__list: img(src="assets/images/unsplash.svg", alt="")
            li.box-partner__list: img(src="assets/images/stripe.svg", alt="")
            li.box-partner__list: img(src="assets/images/plaid.svg", alt="")
            li.box-partner__list: img(src="assets/images/paypal.svg", alt="")
