section.section-page.section-page--statistic
    .container
        .box-statistic
            .box-statistic__list
                img.logo-statistic.logo-statistic--desktop(src="assets/images/logo-statistic.png", alt="")
                img.logo-statistic.logo-statistic--mobile(src="assets/images/logo-statistic-mobile.png", alt="")
            .box-statistic__list
                .call-out
                    h2.call-out__heading 430,000+
                    p.call-out__info Holders

            .box-statistic__list
                .call-out
                    h2.call-out__heading $12,5 Billion
                    p.call-out__info Total Staked

            .box-statistic__list
                .call-out
                    h2.call-out__heading $0.0000346
                    p.call-out__info Price

            .box-statistic__list
                .call-out
                    h2.call-out__heading 430,000+
                    p.call-out__info Holders

            .box-statistic__list
                .call-out
                    h2.call-out__heading $12,5 Billion
                    p.call-out__info Total Staked

