section.section-page.section-page--team
    .container
        h2.team-heading Get to Know Us Closer

        .box-team#boxTeam
            .card-team
                .card-team__info
                    h3.card-team__name Kevin Marchiano
                    .card-team__position Founder / CEO
                .card-team__photo
                    img(src="assets/images/team-1.png", alt="")
            
            .card-team
                .card-team__info
                    h3.card-team__name Rio Hendi
                    .card-team__position Founder / CEO
                .card-team__photo
                    img(src="assets/images/team-2.png", alt="")

            .card-team
                .card-team__info
                    h3.card-team__name Raynaldo Theo
                    .card-team__position Founder / CEO
                .card-team__photo
                    img(src="assets/images/team-3.png", alt="")

        
            .card-team.card-team--smaller
                .card-team__info.card-team--smaller__info
                    h3.card-team__name.card-team--smaller__name Alexander T
                    .card-team__position Founder / CEO
                .card-team__photo.card-team--smaller__photo
                    img(src="assets/images/team-4.png", alt="")
            
            .card-team.card-team--smaller
                .card-team__info.card-team--smaller__info
                    h3.card-team__name.card-team--smaller__name Michael Tan
                    .card-team__position Founder / CEO
                .card-team__photo.card-team--smaller__photo
                    img(src="assets/images/team-5.png", alt="")

            .card-team.card-team--smaller
                .card-team__info.card-team--smaller__info
                    h3.card-team__name.card-team--smaller__name James Won
                    .card-team__position Founder / CEO
                .card-team__photo.card-team--smaller__photo
                    img(src="assets/images/team-6.png", alt="")

            .card-team.card-team--smaller
                .card-team__info.card-team--smaller__info
                    h3.card-team__name.card-team--smaller__name Steve Dewangga
                    .card-team__position Founder / CEO
                .card-team__photo.card-team--smaller__photo
                    img(src="assets/images/team-7.png", alt="")

