section.sec-history-stake 
    .container.container--dashboard 
        .history-stake 
            h2.history-stake__heading History Staking
            .history-stake__header 
                .history-stake__header__heading
                    span Coin
                .history-stake__header__heading
                    span Total Amount
                .history-stake__header__heading
                    span Est. APY
                .history-stake__header__heading
                    span Locked Period
                .history-stake__header__heading
                    span Interest End Date
                .history-stake__header__heading
                    span Cumulative Interest
            .history-stake__bar 
                .history-stake__bar__image 
                    .history-stake__bar__image__icon 
                        img(src="assets/images/binance-coin.svg", alt="")
                    span.history-stake__bar__image__title BNB
                .history-stake__bar__text 
                    span 2.49000000
                .history-stake__bar__text 
                    span 23.65%
                .history-stake__bar__text 
                    span 90 Days
                .history-stake__bar__text 
                    span 2022-08-20
                .history-stake__bar__text 
                    span 0.14276558
                a.history-stake__bar__button(href="#")
                        span Redeem Earlier
            .history-stake__bar 
                .history-stake__bar__image 
                    .history-stake__bar__image__icon 
                        img(src="assets/images/binance-coin.svg", alt="")
                    span.history-stake__bar__image__title BNB
                .history-stake__bar__text 
                    span 2.49000000
                .history-stake__bar__text 
                    span 23.65%
                .history-stake__bar__text 
                    span 90 Days
                .history-stake__bar__text 
                    span 2022-08-20
                .history-stake__bar__text 
                    span 0.14276558
                a.history-stake__bar__button(href="#")
                        span Redeem Earlier
            .history-stake__bar 
                .history-stake__bar__image 
                    .history-stake__bar__image__icon 
                        img(src="assets/images/binance-coin.svg", alt="")
                    span.history-stake__bar__image__title BNB
                .history-stake__bar__text 
                    span 2.49000000
                .history-stake__bar__text 
                    span 23.65%
                .history-stake__bar__text 
                    span 90 Days
                .history-stake__bar__text 
                    span 2022-08-20
                .history-stake__bar__text 
                    span 0.14276558
                a.history-stake__bar__button(href="#")
                        span Redeem Earlier
            .history-stake__bar 
                .history-stake__bar__image 
                    .history-stake__bar__image__icon 
                        img(src="assets/images/binance-coin.svg", alt="")
                    span.history-stake__bar__image__title BNB
                .history-stake__bar__text 
                    span 2.49000000
                .history-stake__bar__text 
                    span 23.65%
                .history-stake__bar__text 
                    span 90 Days
                .history-stake__bar__text 
                    span 2022-08-20
                .history-stake__bar__text 
                    span 0.14276558
                a.history-stake__bar__button(href="#")
                        span Redeem Earlier
            .history-stake__bar 
                .history-stake__bar__image 
                    .history-stake__bar__image__icon 
                        img(src="assets/images/binance-coin.svg", alt="")
                    span.history-stake__bar__image__title BNB
                .history-stake__bar__text 
                    span 2.49000000
                .history-stake__bar__text 
                    span 23.65%
                .history-stake__bar__text 
                    span 90 Days
                .history-stake__bar__text 
                    span 2022-08-20
                .history-stake__bar__text 
                    span 0.14276558
                a.history-stake__bar__button(href="#")
                        span Redeem Earlier
            .history-stake__pagination 
                a.history-stake__pagination__prev(href="#") 
                    span Previous
                a.history-stake__pagination__number.number--active(href="#") 
                    span 1
                a.history-stake__pagination__number(href="#") 
                    span 2
                a.history-stake__pagination__number(href="#") 
                    span 3
                a.history-stake__pagination__number(href="#") 
                    span 4
                a.history-stake__pagination__number(href="#") 
                    span 5
                a.history-stake__pagination__number(href="#") 
                    span 6
                a.history-stake__pagination__next(href="#") 
                    span Next
                
            