section.sec-history-stake 
    .container.container--dashboard 
        .history-stake 
            h2.history-stake__heading History Staking
            .history 
                .history__wrapper
                    .history__wrapper__header 
                        .history__wrapper__header__heading
                            span Coin
                        .history__wrapper__header__heading
                            span Total Amount
                        .history__wrapper__header__heading
                            span Est. APY
                        .history__wrapper__header__heading
                            span Locked Period
                        .history__wrapper__header__heading
                            span Interest End Date
                        .history__wrapper__header__heading
                            span Cumulative Interest
                    .history__wrapper__bar 
                        .history__wrapper__bar__image 
                            .history__wrapper__bar__image__icon 
                                img(src="assets/images/binance-coin.svg", alt="")
                            span.history__wrapper__bar__image__title BNB
                        .history__wrapper__bar__text 
                            span 2.49000000
                        .history__wrapper__bar__text 
                            span 23.65%
                        .history__wrapper__bar__text 
                            span 90 Days
                        .history__wrapper__bar__text 
                            span 2022-08-20
                        .history__wrapper__bar__text 
                            span 0.14276558
                        a.history__wrapper__bar__button(href="#")
                                span Redeem Earlier
                    .history__wrapper__bar 
                        .history__wrapper__bar__image 
                            .history__wrapper__bar__image__icon 
                                img(src="assets/images/binance-coin.svg", alt="")
                            span.history__wrapper__bar__image__title BNB
                        .history__wrapper__bar__text 
                            span 2.49000000
                        .history__wrapper__bar__text 
                            span 23.65%
                        .history__wrapper__bar__text 
                            span 90 Days
                        .history__wrapper__bar__text 
                            span 2022-08-20
                        .history__wrapper__bar__text 
                            span 0.14276558
                        a.history__wrapper__bar__button(href="#")
                                span Redeem Earlier
                    .history__wrapper__bar 
                        .history__wrapper__bar__image 
                            .history__wrapper__bar__image__icon 
                                img(src="assets/images/binance-coin.svg", alt="")
                            span.history__wrapper__bar__image__title BNB
                        .history__wrapper__bar__text 
                            span 2.49000000
                        .history__wrapper__bar__text 
                            span 23.65%
                        .history__wrapper__bar__text 
                            span 90 Days
                        .history__wrapper__bar__text 
                            span 2022-08-20
                        .history__wrapper__bar__text 
                            span 0.14276558
                        a.history__wrapper__bar__button(href="#")
                                span Redeem Earlier
                    .history__wrapper__bar 
                        .history__wrapper__bar__image 
                            .history__wrapper__bar__image__icon 
                                img(src="assets/images/binance-coin.svg", alt="")
                            span.history__wrapper__bar__image__title BNB
                        .history__wrapper__bar__text 
                            span 2.49000000
                        .history__wrapper__bar__text 
                            span 23.65%
                        .history__wrapper__bar__text 
                            span 90 Days
                        .history__wrapper__bar__text 
                            span 2022-08-20
                        .history__wrapper__bar__text 
                            span 0.14276558
                        a.history__wrapper__bar__button(href="#")
                                span Redeem Earlier
                    .history__wrapper__bar 
                        .history__wrapper__bar__image 
                            .history__wrapper__bar__image__icon 
                                img(src="assets/images/binance-coin.svg", alt="")
                            span.history__wrapper__bar__image__title BNB
                        .history__wrapper__bar__text 
                            span 2.49000000
                        .history__wrapper__bar__text 
                            span 23.65%
                        .history__wrapper__bar__text 
                            span 90 Days
                        .history__wrapper__bar__text 
                            span 2022-08-20
                        .history__wrapper__bar__text 
                            span 0.14276558
                        a.history__wrapper__bar__button(href="#")
                                span Redeem Earlier
            .history-stake__pagination 
                a.history-stake__pagination__prev(href="#") 
                    span Previous
                a.history-stake__pagination__number.number--active(href="#") 
                    span 1
                a.history-stake__pagination__number(href="#") 
                    span 2
                a.history-stake__pagination__number(href="#") 
                    span 3
                a.history-stake__pagination__number(href="#") 
                    span 4
                a.history-stake__pagination__number(href="#") 
                    span 5
                a.history-stake__pagination__number(href="#") 
                    span 6
                a.history-stake__pagination__next(href="#") 
                    span Next